source https://api.nuget.org/v3/index.json

framework: net7.0

nuget Newtonsoft.Json
nuget Colorful.Console
nuget Microsoft.AspNetCore.App
nuget Giraffe
nuget LLamaSharp
nuget LLamaSharp.Backend.Cpu
nuget FSharp.Core